body,
header,
footer,
p,
ul,
li,
section,
h3,
input,
h2 {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
li {
  list-style: none;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
img {
  border: none;
}
.range {
  width: 1180px;
  margin: 0 auto;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
/*==for IE6/7 Maxthon2==*/
.cover {
  background: #191919;
  zoom: 1 ;
  /*触发IE下块级元素*/
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
header {
  height: 86px;
  width: 100%;
  background: #ac0110;
}
header h2,
header .search,
header .go_search,
header .login {
  height: 86px;
  float: left;
}
header h2 {
  width: 150px;
  margin-left: 80px;
  background: url(../img/logo.png) 0px center no-repeat;
}
header .search {
  width: 688px;
  background: none;
  padding-left: 0;
}
header .city {
  top: 20px;
  left: 60px;
  padding: 10px 10px 32px 40px;
  background: url(../img/position1.png) 10px 8px no-repeat;
}
header .city em,
header .city span {
  color: #ffffff;
}
header .city ul {
  display: none;
  background: #ffffff;
  top: 66px ;
  left: 0;
  border: none;
}
header .brand,
header .version {
  top: 25px;
  left: 75px;
  background: url(../img/select_bg.png) right 0 no-repeat #ffffff;
}
header .version {
  left: 90px;
}
header .go_search,
header .login {
  line-height: 86px;
}
header .go_search {
  width: 210px;
}
header .go_search input {
  width: 98px;
  height: 36px;
  font-size: 15px;
  color: #333333;
  background: #ffffff;
  border: none;
  outline: none;
}
header .go_search a {
  padding-left: 40px;
}
header .login {
  float: right;
}
#warp .banner1 {
  height: 652px;
  background: url(../img/banner1.png) center no-repeat;
}
#warp .banner2 {
  height: 740px;
  background: url(../img/banner3.png) center no-repeat;
}
#warp .banner3 {
  height: 738px;
  background: url(../img/banner2.png) center no-repeat;
}
#FM_lis {
  width: 1120px;
  padding: 406px 0 0 60px ;
}
#FM_lis .cover {
  opacity: 0.8;
}
#FM_lis li {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 77px;
  position: relative;
  border-radius: 50%;
  background: url(../img/huangZeLing.png) 0 0 no-repeat;
  text-align: center;
}
#FM_lis div {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
#FM_lis .FM_detail {
  width: 200px;
  height: 156px;
  padding-top: 44px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000915;
}
#FM_lis .FM_id {
  padding-bottom: 18px;
  font-size: 20px;
}
#FM_lis .company,
#FM_lis .program {
  line-height: 22px;
}
#FM_lis .detail {
  width: 90px;
  height: 28px;
  line-height: 28px;
  margin: 15px auto;
  border: 1px solid #d6d5d6;
  border-radius: 14px;
}
#FM_lis p {
  position: absolute;
  top: 210px;
  left: 45px;
  font-size: 16px;
  color: #d5e6f2;
}
#circle {
  width: 592px;
  height: 18px;
  text-align: center;
  margin-top: 60px;
  padding-left: 488px;
}
#circle li {
  width: 18px;
  height: 18px;
  margin: 0 9px;
  float: left;
  border-radius: 50%;
  background: #016ea0;
}
#circle .active {
  background: #ffffff;
}
#content {
  padding-bottom: 100px;
  background: #ffffff;
}
#content .range {
  background: url(../img/day_6.png) 0 98px no-repeat;
}
.search div {
  float: left;
  position: relative;
}
.city {
  top: 202px;
  left: 570px;
  padding: 60px 0 0 70px;
  text-align: center;
  background: url(../img/city_bg.png) 0 24px no-repeat;
}
.city em {
  font-size: 18px;
}
.city span {
  font-size: 12px;
}
.city ul {
  width: 200px;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  top: 92px;
  border: 1px solid #dadada;
  display: block;
  z-index: 100;
  background: #ffffff;
}
.city li {
  padding: 5px ;
  margin: 5px;
  float: left;
  background: #f5f5f5;
  font-size: 12px;
}
.brand,
.version {
  height: 34px;
  width: 203px;
  top: 258px;
  left: 590px;
  border: 1px solid #dadada;
  line-height: 34px;
  text-align: center;
  font-size: 12px ;
  color: #333333;
  background: url(../img/select_bg.png) right 0 no-repeat;
}
.brand ul,
.version ul {
  width: 203px;
  border: 1px solid #dadada;
  position: absolute;
  top: 34px;
  left: -1px;
  display: none;
  background: #ffffff;
}
.version {
  left: 602px;
}
#content .car_lis {
  margin-top: 200px;
}
#content .car_lis p {
  padding-bottom: 5px;
  text-indent: 14px;
  font-size: 25px;
}
#content .car_lis li {
  width: 205px;
  height: 214px;
  position: relative;
  float: left;
  margin: 15px 13px;
  padding-top: 46px;
  text-align: center;
  border: 1px solid #e4e4e4;
  box-shadow: 4px 4px 0 #f2f2f2;
  background: url(../img/bg.png) center 155px no-repeat;
}
#content .car_lis div {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}
#content .car_lis .pic {
  width: 130px;
  height: 108px;
  margin-bottom: 40px;
  background: url(../img/car_bg.png) no-repeat;
}
#content .car_lis span {
  font-size: 16px;
  color: #dd2726;
}
#content .sign {
  width: 205px;
  height: 190px;
  padding-top: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  text-align: center;
}
#content .sign span {
  font-size: 26px;
  color: #ffffff;
}
#content .sign p {
  height: 40px;
  line-height: 34px;
}
#content .sign em {
  font-size: 14px;
  color: #e0e0e0;
}
#content .sign img {
  margin-top: 20px;
}
footer .lable {
  height: 218px;
  border-top: 1px solid #dddddd;
}
footer .lable ul {
  width: 1164px;
  height: 218px;
  padding-left: 16px;
  background: url(../img/ico_bg.png) 0 30px no-repeat;
}
footer .lable li {
  width: 191px;
  padding-top: 135px;
  float: left;
  text-align: center;
}
footer .lable em {
  font-size: 15px;
  color: #313131;
  font-style: normal;
  font-weight: bold;
}
footer .lable span {
  font-size: 12px;
  color: #252525;
}
footer .aboutUs {
  height: 225px;
  background: #c40000;
}
footer .copr {
  height: 64px;
  background: #0b0b0b;
  padding-top: 20px;
}
footer .copr p {
  font-size: 12px;
  color: #7d7d7d;
  line-height: 22px;
  text-indent: 20px;
}
footer .contact {
  width: 320px;
  padding-top: 34px;
  padding-right: 34px;
  text-align: center;
  float: left;
}
footer .contact p {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
footer .contact .number {
  font-size: 22px;
  padding-top: 21px;
  line-height: 30px;
  background: url(../img/phon_bg.png) 56px 22px no-repeat;
}
footer .tips {
  width: 652px;
  float: left;
}
footer .tips ul {
  width: 156px;
  float: left;
  padding-top: 42px;
}
footer .tips li {
  text-align: center;
}
footer .tips h3 {
  line-height: 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
footer .wechat {
  width: 142px;
  float: right;
  padding: 35px 32px 0 0;
}
footer .wechat img {
  display: block;
}
footer .wechat p {
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
